#hero {
  padding-top: $base-spacing*4;
  padding-bottom: $base-spacing*4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .row {
    align-items: center;
    .col {
      &:first-child {
        flex-basis: 40%;
      }
      &:last-child {
        flex-basis: 60%;
      }
    }
  }
  p {
    font-weight: 700;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    font-size: modular-scale(2);
    @include media($desktop-width) {
      font-size: modular-scale(4);
    }
    span {
      color: $secondary-color;
    }
  }
}
#verbiage {
  padding-top: $base-spacing*4;
  padding-bottom: $base-spacing*4;
  .row {
    flex-direction: row-reverse;
    align-items: center;
    .col {
      &:first-child {
        flex-basis: 40%;
      }
      &:last-child {
        flex-basis: 60%;
      }
    }
  }
  h3 {
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 700;
    margin-bottom: $base-spacing*2;
    font-size: modular-scale(2);
    @include media($desktop-width) {
      font-size: modular-scale(4);
    }
  }
  p {
    font-size: modular-scale(1);
    line-height: 1.4;
    span {
      color: $primary-color;
      font-weight: 700;
      border-bottom: 2px solid $secondary-color;
    }
  }
}

#call-to-action {
  padding-top: $base-spacing*4;
  padding-bottom: $base-spacing*4;
  background-color: #3e494d;
  h3 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: $base-spacing*2;
    font-size: modular-scale(2);
    @include media($desktop-width) {
      font-size: modular-scale(4);
    }
    span {
      color: $secondary-color;
    }
  }
  p, label {
    color: white;
    text-align: center;
    font-size: modular-scale(1);
    line-height: 1.4;
  }
  .col {
    max-width: 600px;
    margin: 0 auto;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: $base-spacing*2;
    input[type="submit"] {
      display: block;
      width: 100%;
      text-transform: uppercase;
      @include padding($base-spacing);
      color: white;
      letter-spacing: 1px;
    }
  }
}
